<div class="jumbotron">
<h1>Hair Salon</h1>
</div>
<div class="container">
<hr>
<a href="/stylists/new"><button class="btn btn-wide">Add New Stylist</button></a>
<hr>
<a href="/clients/new"><button class="btn btn-wide">Add New Client</button></a>
<hr>
<a href="/stylists"><button class="btn btn-wide">View Stylists</button></a>
<hr>
<a href="/clients"><button class="btn btn-wide">View Clients</button></a>

</div>
