<div class="jumbotron">
<h1>Hair Salon</h1>
</div>

<p><a href="/stylists/new">Add New Stylist</a></p>
<p><a href="/clients/new">Add New Client</a></p>
<p><a href="/stylists">View Stylists</a></p>
<p><a href="/clients">View Clients</a></p>
