
<!DOCTYPE html>
<html>
<head>
  <title>Curl Up and Dye</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/app.css">
 </head>
 <body>
  <div class="content">

    #parse( $template )

    <a href="/">Home Page</a>
  </div>
 </body>
</html>
